<!DOCTYPE html>
<html lang="en">
<head>
    <!--seems to be standard for html besides title-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reid's Initiative Tracker</title>

    <link rel="stylesheet" href="../Static/css/styles.css">

</head>

<body>
    <h1>Reid's Initiative Tracker</h1>
    <div>
        <form id="initiativeForm">
            <label for="Initiative"> Initiative: </label>
            <input type:"number" id="Initiative" name="Initiative" maxlength="4" size="4" autofocus>
            <label for="Name"> Name: </label>
            <input type:"text"  id="Name" name="Name">
            <label for="HP"> HP: </label>
            <input type:"number" id="HP" name="HP" maxlength="3" size="3" autofocus>
            <label for="AC"> AC: </label>
            <input type:"number" id="AC" name="AC" maxlength="3" size="3" autofocus>

        </form>
    </div>
    <button type="button" onclick="addInput()">+</button>
    <button type="button" onclick="removeInput()">-</button>
    <script src="..\Static/js/App.js"></script>
</body>